<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>615486040440-l43la9pem4vfpio287rp6h1trcdte4dp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615486040440-l43la9pem4vfpio287rp6h1trcdte4dp</string>
	<key>API_KEY</key>
	<string>AIzaSyDqPaiIjo5hxArrco2GHOc39ZoBZ6PiBwc</string>
	<key>GCM_SENDER_ID</key>
	<string>615486040440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sg.vinova.coby</string>
	<key>PROJECT_ID</key>
	<string>qldatesmtn</string>
	<key>STORAGE_BUCKET</key>
	<string>qldatesmtn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615486040440:ios:0c9baf619fc0d761</string>
	<key>DATABASE_URL</key>
	<string>https://qldatesmtn.firebaseio.com</string>
</dict>
</plist>